{:company/legal-name "The Go-Ahead Group Limited"
 :company/lei "2138009TF1SYOMQLBJ60"
 :company/jurisdiction "GB"
 :company/website "https://www.go-ahead.com"
 :company/ticker "unlisted (delisted from LSE Oct 2022; acquired by Kinetic Group 51% / Globalvia 49%)"}
