[["goahead-tou-1" :tos/full-text "Terms – Go Ahead London
Skip to content
About us
About us
Go-Ahead London provides nearly a quarter of London’s buses with its vehicles travelling 80 million miles annually.
Learn more
Go Ahead Women
Careers
Careers
View the different paths you can take with Go-Ahead London and apply for positions online.
Learn more
Bus Driver jobs
Engineering jobs
Management jobs
Support roles
Engineering apprenticeship
Day in the life
Training Academy
Career FAQs
Environment
Environment
As a result of pioneering work, Europe’s first all-electric bus garage now allows Londoners to travel on clean, silent and reliable electric buses.
Learn more
Sustainability review 2022
Sustainability review 2023
Routes
Routes
All routes operated by Go-Ahead London.
Learn more
Plan your journey
Bus routes
Contact
Contact
View key contact details for Go-Ahead London.
Learn more
Lost property
Terms
Terms and conditions
Click below to download our standard terms and conditions (pdf files)
Our terms and conditions of purchase
Our terms and conditions for purchase of rail replacement services
Companies Act information
London Central Bus Company Limited registered in England and Wales number 2328565
London General Transport Services Limited registered in England and Wales number 2328489
Docklands Buses Limited registered in England and Wales number 3240004
Blue Triangle Buses Limited registered in England and Wales number 3770568
Subsidiaries of The Go-Ahead Group Limited
Registered Office:
3rd Floor, 41-51 Grey Street, Newcastle-upon-Tyne NE1 6EE
VAT number 649605411
Terms of use
This World Wide Website (www) (the “site”) is operated by London General Transport Services Ltd (“Go-Ahead London”, “us” or “we”). These conditions of use are governed by the laws of England and Wales and you agree that the English courts shall have exclusive jurisdiction in any dispute.
Please read our conditions of use carefully as by using the website you will be taken to have agreed to be bound by them. We reserve the right to vary the conditions of use at any time and will post any variations here. You are advised to review the conditions of use on a regular basis as you will be deemed to have accepted variations if you continue to use the website after they have been posted. Go-Ahead London takes every care and precaution to ensure that information published on this website is accurate when posted and regularly updated, but we cannot guarantee its accuracy and may change the information at any time without notice.
WE PUBLISH THE  WEBSITE “AS IS” WITHOUT ANY WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF OUR SITE, THE ACCURACY OF THE INFORMATION OR THE PRODUCTS OR SERVICES REFERRED TO ON THE WEBSITE (INSOFAR AS SUCH WARRANTIES MAY BE EXCLUDED UNDER ANY RELEVANT LAW) AND WE SHALL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES THAT MAY RESULT FROM USE OF THE WEBSITE AS A CONSEQUENCE OF ANY INACCURACIES IN, OR ANY OMISSIONS FROM, THE INFORMATION WHICH IT MAY CONTAIN.
The information contained in the website is not an invitation to invest in the shares or any other products or services or otherwise deal in these or enter into a contract with Go-Ahead London or any other company. The information provided should not be relied upon in connection with any investment decision.
You are not required to register your details with us in order to browse the vast majority of our website. If you visit an area or page which requires a login you will be given information on how to register and access content, unless this is restricted content. Before registering your details please ensure you have read all legal documentation available on the site regarding data protection and policies.
Any registration details should be per user and not shared with multiple users or parties.
Intellectual property
The copyright notice which is displayed in this site indicates that all materials within the site are the intellectual property of Go-Ahead London. All materials, content and forms contained on this website are the intellectual property of Go-Ahead London and may not be copied, reproduced, distributed or displayed without Go-Ahead London’s express written permission. However, you may print complete pages of the site as hard copies for your own personal use.
Accuracy of information
Whilst Go-Ahead London uses reasonable endeavours to ensure that the contents of this site are accurate and up to date, it does not accept any liability for any information which may not be accurate. Go-Ahead London is reliant upon third parties for much of the information provided (see below) and reserves the right to change data, references and product specifications at any time.
The contents of this site are for general information and public relations purposes only and do not purport to provide advice, make any offer or otherwise create or lead to the creation of any legally enforceable relationship between Go-Ahead London and you. No reliance should be placed on any statements made on the site, whether for investment purposes or otherwise. Go-Ahead London excludes to the fullest extent permitted by law all liability resulting from your access to the site including (without limitation) any loss (financial or otherwise) or damage resulting directly or indirectly from any such reliance.
Go-Ahead London does not guarantee that the website, or any content on it, will always be available or access to it will be uninterrupted. Access to the website is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of the website without notice. We will not be liable to you if for any reason the website is unavailable at any time or for any period.
You are responsible for making all arrangements necessary for you to have access to the website.
You are also responsible for ensuring that any persons with access to the website through your internet connection are aware of these terms of use, and that they comply with them.
Certain hypertext links contained in this site will direct you to websites which are not under the control of Go-Ahead London. Such links are included for your convenience and do not constitute an endorsement by Go-Ahead London of third-party products or services. Selection of a link will take you out of this site to other websites which Go-Ahead London has no control over and may represent views or opinions not held by Go-Ahead London. Go-Ahead London accepts no liability or responsibility whatsoever for any other websites which may be accessed through the Go-Ahead London website.
X-twitter
Facebook
Linkedin
Instagram
Back to top
We are London’s largest bus company and a part of  The Go‑Ahead Group , an international provider of passenger transport.
Gender Pay Gap Report | Modern Slavery Statement   |  Accessibility   | Privacy Policy   |  Cookie Policy   |  Terms   |  Sitemap   |  Subcontracting policy   |  Corporate Governance   |  Subject Rights Release Form   |  Cookie Preferences
Company registered number  02328489
VAT number  649605411
© 2026 Go-Ahead London is a trading name of London General Transport Services Ltd and registered office Second Floor, 55 Degrees North, Pilgrim Street, Newcastle Upon Tyne, NE1 6BL." 1 :add]
 ["goahead-tou-1" :tos/source-url "https://goaheadlondon.com/terms/" 1 :add]
 ["goahead-tou-1" :tos/retrieved-at "2026-07-19T08:13:13Z" 1 :add]
 ["goahead-tou-1" :tos/sha256 "88b0b8acd97b00f7ebafcfb045c06af6f0f8a2c29b2e448e8058eab46bc19c29" 1 :add]
 ["goahead-tou-1" :tos/doc-type :terms-of-service 1 :add]]
